:root {
  --y-in-mn-blue: #355070ff;
  --chinese-violet: #6d597aff;
  --cinnamon-satin: #b56576ff;
  --candy-pink: #e56b6fff;
  --tumbleweed: #eaac8bff;
}

html,
body {
  min-height: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: end;

  background-color: var(--y-in-mn-blue);
  line-height: 10px;
}
.portfolio {
  margin-right: 400px;
  margin-left: 0px;
  color: var(--tumbleweed);
  font-size: 30px;
}
div a {
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  color: white;
  margin-top: 25px;
}

.about-me-section {
  display: flex;

  margin-top: 20px;
  background-color: var(--y-in-mn-blue);
}
.profile-pic-div {
  display: flex;
  flex-wrap: wrap;
}
.profile-pic {
  height: 250px;
  width: 250px;
}

.about-me-paragraph {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  background-color: var(--y-in-mn-blue);
  text-align: left;
}

.first-project {
  display: flex;
  background-color: var(--y-in-mn-blue);
  margin-top: 15px;
}

.first-project-image {
  height: 300px;
}

.first-project-paragraph {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: white;
}
