:root {
  --y-in-mn-blue: #355070ff;
  --chinese-violet: #6d597aff;
  --cinnamon-satin: #b56576ff;
  --candy-pink: #e56b6fff;
  --tumbleweed: #eaac8bff;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: end;

  background-color: var(--y-in-mn-blue);
  line-height: 10px;
}
.portfolio {
  margin-right: 400px;
  margin-left: 0px;
  color: var(--tumbleweed);
  font-size: 30px;
}
div a {
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  color: white;
  margin-top: 25px;
}

.about-me-section {
  display: flex;
  border: 2px solid black;
  margin-top: 20px;
  background-color: var(--y-in-mn-blue);
}
.profile-pic {
  flex-grow: 1;
  height: 250px;
  width: 250px;
}

.about-me-paragraph {
  flex-grow: 2;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: var(--y-in-mn-blue);
  text-align: center;
}
